*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}


.ctn {
    background-color: #F1F1F1;
}

.head1 {
    display: flex;
    justify-content: space-between;    background-color: black;
    height: 40px;
}

.ul1 {
    display: flex;
    padding: 0 20px;
}

.ul1 li {
    list-style-type: none;
} 

.ul1 li a {
    color: grey;
    text-decoration: none;
    font-size: 14px;
    margin: 0 8px;
}

.ul2 {
    display: flex;
    padding: 0 20px;
}

.ul2 li {
    list-style-type: none;
} 

.ul2 li a {
    color: grey;
    text-decoration: none;
    font-size: 14px;
    margin: 0 8px;
}

.ul1 li a:hover,
.ul2 li a:hover {
    color: white;
}

.head2 {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 45px;
    background-color: white;
}

.ul3 {
    display: flex;
    padding-left: 18px;
}

.ul3 li {
    list-style-type: none;
}

.ul3 li a {
    color: gray;
    text-decoration: none;
    font-size: 14px;
    margin: 0 10px;
}

.ul3 li a:hover,
.fa-search:hover {
    cursor: pointer;
    color: black;
}

.search {
    border-left: 1px solid grey;
}

.fa-search {
    margin: 15px 17px 0 17px;
    color: gray;
    font-size: 18px;
}

.gred {
    display: flex;
    margin: 8px;
}

.left {
    position: relative;
    width: 68%;
    height: 430px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0.4), rgba(0,0,0,0.9)), url(https://im0-tub-com.yandex.net/i?id=2d864b743f735c3306123a7d5240cc18&n=13);
    background-size: cover;
}

.left .logo {
    position: absolute;
    top: -25px;
    left: 15px;
    font-size: 200px;
    font-weight: bold;
    /* border: 5px green solid; */
}

.logo a {
    color: white;
    text-decoration: none;
}

.nov {
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
}

.the a {
    color: white;
    text-decoration: none;
}

.the {
    position: absolute;
    bottom: 50px;
    left: 15px;
    font-size: 50px;
    font-weight: 900;
}

.by-nappi {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 12px;
    color: white;
}


.right {
    width: 31%;
    margin-left: 8px;
}



.right1 {
    position: relative;
    height: 211px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url(https://im0-tub-com.yandex.net/i?id=5c01da8ac8e56ab518377fc67dfbef72&n=13);
    background-size: cover;
}

.h11 {
    position: absolute  ;
    left: 15px;
    top: 50px;
}

.h11 a {
    color: white;
    text-decoration: none;
}

.p11 {
    position: absolute;
    left: 15px;
    top: 80px;
}

.p11 a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
}

.by-tristan {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: x-small;
    color: white;
}

.right2 {
    position: relative;
    height: 211px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.9)), url(https://static.tildacdn.com/tild6336-3566-4939-a131-316235656564/comprar-seguidores-y.png);
    background-size: cover;
    margin-top: 8px;
}

.youtube {
    position: absolute;
    top: 80px;
    left: 15px;
}

.youtube a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.by-thomas {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: x-small;
    color: white;
}

.new {
    margin-left: 40px;
    margin-top: 80px;
}

.new a {
    font-size: 30px;
    font-weight: 800;
    color: red;
    text-decoration: none;
}

.new a:hover {
    color: rgb(34, 1, 34);
}

.top {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.imgtop {
    margin: 0 10px;
    margin-top: 15px;
}

.imgtop img {
    width: 280px;
    height: 150px;
}

.imgtop p {
    font-weight: bold;
    font-size: 16px;
    margin-top: 0;
}

.imgtop p:hover {
    cursor: pointer;
    color: rgb(253, 51, 51);
    text-decoration: underline;
}

.imgtop span {
    font-size: 13px;
    color: grey;
}

.imgtop span:hover {
    cursor: pointer;
    color: rgb(48, 47, 47);
}

.found {
    display: flex;
    justify-content: space-between;
    width: 1190px;
    margin: 0 auto;
    margin-top: 80px;
}

.found span {
    color: red;
    font-size: 30px;
    font-weight: 800;
}

.found span:hover {
    cursor: pointer;
    color: rgb(34, 1, 34);
}

.found p {
    color: red;
    font-size: 15px;
    font-weight: 600;
}

.found p:hover {
    cursor: pointer;
    color: rgb(34, 1, 34);
}

.city {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.box {
    position: relative;
    width: 280px;
    margin: 0 10px;
    margin-top: 10px;
} 

.flo {
    background-color: red;
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.seria {
    background-color: rgb(255, 163, 163);
    margin: 0;
    padding: 20px 0;
    text-align: center;
}

.transport {
    background-color: rgb(255, 233, 233);
    margin: 0;
    padding: 20px 0;
    font-size: 12px;
    color: grey; 
}

.transport i {
    margin-left: 15px;
}

.ventur {
    margin: 20px 15px 0 15px;
    padding-top: 20px;
    border-top: 1px solid red;
}

.cityflo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
}





.elon {
    display: flex;
}

.hard {
    margin: 0 15px;
}

.centr {
    width: 1200px;
    margin: 0 auto;
}

.hard h2 {
    color: red;
    font-weight: 900;
}

.hard h2:hover {
    cursor: pointer;
    color: rgb(34, 1, 34);
}

.most1 {
    position: relative;
    width: 370px;
    height: 300px;
    background-image: linear-gradient(to top, rgba(0,0,0,9), rgba(0,0,0,0)), url(https://im0-tub-com.yandex.net/i?id=637992fa6a25e15810ba2d0b4ef21e5d&n=13);
    background-size: cover;
}

.most2 {
    position: relative;
    width: 370px;
    height: 300px;
    background-image: linear-gradient(to top, rgba(0,0,0,9), rgba(0,0,0,0)), url(https://i.ytimg.com/vi/IAbm5snSvhc/maxresdefault.jpg);
    background-size: cover;
}

.most3 {
    position: relative;
    width: 370px;
    height: 300px;
    background-image: linear-gradient(to top, rgba(0,0,0,9), rgba(0,0,0,0)), url(https://im0-tub-com.yandex.net/i?id=d6acc036a6975b04f045ffe44e489adc&n=13);
    background-size: cover;
}

.popu {
    position: absolute;

}

.popu {
    position: absolute;
    left: 20px;
    top: 160px;
    font-size: 14px;
    font-weight: 600;
    color: wheat;
}

.musk a {
    position: absolute;
    left: 20px;
    top: 180px;
    font-size: 25px;
    font-weight: bold;
    color: wheat;
    text-decoration: none;
}

.musk a:hover {
    text-decoration: underline;
}

.david {
    position: absolute;
    left: 20px;
    bottom: 8px;
    color: grey;
    font-size: 12px;
}

.david:hover {
    cursor: pointer;
    color: honeydew;
}

.elonbot {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.h4p {
    /* float: left; */
    background-color: rgb(252, 232, 232);
    color: rgb(252, 82, 82);
    padding-left: 15px;
}

.hp4 .par {
    font-size: 13px;
    margin-top: 0;
}

.imge {
    float: right;
}

.imge .imge1 {
    width: 100px;
    height: 100px;
}

.ulbot li {
    color: grey;
    font-size: 11px;
    margin: 15px 0;
}
